<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <div id="header" class="container clearfix">
        <div class="flex-container">
          <!-- On veut un logo assez gros, dont la taille va diminuer au défilement (jusque barre nav vide) -->
          <div class="logo fl">
            <h1>Task Espresso</h1>
          </div>
          <!-- (caché) image MENU BURGER (activateur) -->
          {# <div id="menu-burger" class="menu-burger fr tablet1">
            <img data-activate="modale-menu" class="activator" src="img/varia/menu-burger.svg" alt="bouton pour faire apparaître le menu"
              aria-controls="modale-menu">
          </div> #}
          <!-- NAVIGATION PRINCIPALE -->
          <div id="menu-complet" class="menu-complet tablet1-hidden clearfix">
            <nav class="fr">
              <ul>
                <li>
                  <a href="{{'tasks'}}" class="nav-link button">Tâches</a>
                </li>
                <li>
                  <a href="{{'documentation'}}" class="nav-link button">Documentation</a>
                </li>
                <li>
                  <a href="{{'equipe'}}" class="nav-link button">Tool & Team</a>
                </li>
                <li>
                  <a href="{{'contact'}}" class="nav-link button">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- fin du flex -->
      </div>
      <!-- fin du container -->
    </header>
    <!-- fin du header -->

    <main>
      {% block body %}{% endblock %}
    </main>
  </body>
</html>
